body {
    background-image: url('./background_bowl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

h1 {
    color: aliceblue;
    opacity: .9;
}